__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
shared/
*.egg-info/
build_exe.py
BUILD_EXE.md
.pyinstaller/
tasarımTakip/